.productSummary {
    width: 22%;
    text-align: center;
    
    &__imageWrapper {
        border: 1px solid $grey;
        border-radius: .5rem;
        padding: .5rem;
        height: 180px;
    }

    &__title {
        font-size: .8rem;
    }

    &__productCode {
        color: $blue;
    }
}